<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"> 
        <title>Vue from Scratch</title>  
    </head>
        <body>
            <div id="app">

<!-- Start Vue-->
           
            <!-- <accordion v-for="item in items"></accordion> -->
            <accordion v-for="item in items" :key="item.id":item="item"></accordion>
            <!-- :item="item" can be anything you wnat and we shall pass a prop...see below...(:) needed to let Vue know of this special attribute-->

            </div>
            <script src="./dist/app.js"></script>

        </body>
</html>